@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#landing{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;

}

header .navigation li a:hover{
    color: #03a9f4;
}

.content{
    max-width: 600px;
}

.content .contentBx h2{
    font-size: 4em;
    line-height: 1em;
    color: #fff;
}

.content .contentBx p{
    font-size: 1em;
    font-weight: 300;
    margin: 20px 0;
    color: #fff;
}

.content .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

#who{
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    padding: 2rem;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url(img/adults.jpg) no-repeat center center/cover;
    width: 100px;
    height: 400px;
}

#who .m-heading{
    font-size: 2rem;
    padding-left:  35px;
    margin-bottom: 5px;
    margin-top: 20px;
}

span{
    color: #03a9f4;
}

#who p{
    margin-top: 5px;
    text-align: justify;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0;
    color: #000;
    line-height: 1.8rem;
}

#who a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left:  35px;
}
   
#cards{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.container{
    position: relative;
    height: 500px;
    width: 800px;
    background: #222;
}

.container .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .clip.clip1{
    background:url(img/force.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}


.container .clip.clip2{
    background:url(img/pilates.jpg);
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}


.container .clip.clip3{
    background:url(img/pt.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container .clip .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 70%;
    padding: 20px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

.container .clip:hover .content{
    bottom: 0;
    opacity: 1;
}

.content h2{
    color:#03a9f4;
}

/*Blog Section*/
#blog a{
    transition: all .5s;
    text-decoration: none;
    color: #fff;
}

img{
    width: 100%;
    transition: all .5s;
}

#blog{
    padding: 50px 0;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
}

.container-blog{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 30px 15px 0px 15px;
}

.title{
    width: 70%;
    margin: 0 auto;
}

.title h1{
    margin-top: -60px;
    margin: 0;
    font-size: 2em;
    color: #03a9f4;
    font-weight: 500;
}

.singleBlog{
    position: relative;
    overflow: hidden;
    max-height: 600px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #ccc;
    transition: all .5s;
}

.singleBlog:hover{
    box-shadow: 0 2px 13px #ccc;
    transition: all .4s;
}

.singleBlog:hover img{
    transform: scale(1.1);
    transition: all .4s;
}

.blogContent{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    color: #fff;
    padding: 10px 5px;
    background:#03a8f43a;
    transition: all .5s;
}

.singleBlog:hover .blogContent{
    bottom: 0;
    transition: all .5s;
}

.blogContent h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.blogContent h3 span{
    display: block;
    font-size: 60%;
    margin-top: 5px;
    font-weight: 600;
    color:#03a9f4;
}

.blogContent a{
    font-size: 14px;
    font-weight: 500;
}

.blogContent .btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 15px;
}

.blogContent .btn:hover{
    background: #03a9f4;
    transition: all .5s;
    text-decoration: none;
}







/*Media queries from blog*/

@media (max-width:992px){
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width:767px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .blogContent{
        bottom: 0;
    }
}

@media (max-width:767px){
    main{
        grid-template-columns: repeat(1, 1fr);
        
    }
}